@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&family=Roboto+Mono:wght@500&family=Zen+Kaku+Gothic+Antique&display=swap');

:root {
    --altezza-max: 100vh;
}

body {
    margin: 0;
    font-family: 'M PLUS 1', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.output {
    position: fixed;
    height: var(--altezza-max);
    width: 100%;
    background-color: black;
    color: white;
}

.output {
    text-align: center;
  	vertical-align: middle;
    line-height: var(--altezza-max);

    font-size: 50vh;
}

.schiaccia {
    display: inline-block;
    transform: scale(1, 3);
    -webkit-transform: scale(1, 3);
    -moz-transform: scale(1, 3);
    -o-transform: scale(1, 3);
    transform-origin: 0% 70%;
}
